body {
    background-color: #ffe8d6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    color: gray;
    transition: color 0.3s;
    font-weight: bolder;
}

.add-icon:hover {
    color: black;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.email {
    color: #888;
    font-size: 0.9em;
    margin-top: 0;
}

.container {
    max-width: 300px;
    min-width: 300px;
    height: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.skeleton-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.users-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    border-radius: 10px;
    flex-grow: 1;
}

.users-list li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
    max-height: 50px;
    min-height: 70px;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.send-invite {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background: linear-gradient(90deg, #f1b98b, #eeb07d);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.imageSuccess {
    width: 200px;
    animation: jump 0.5s ease-out;
}

.send-invite:hover {
    background: linear-gradient(90deg, #dfab80, #dba172);
}

.send-invite:active {
    transform: scale(0.95);
}